<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appfunlu.lawofattraction">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.appfunlu.lawofattraction.MainActivity"
            android:label="Law of Attraction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.appfunlu.lawofattraction.GratitudeActivity"
            android:parentActivityName="com.appfunlu.lawofattraction.MainActivity"
            android:label="Gratitude List">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appfunlu.lawofattraction.MainActivity" />
        </activity>

        <activity
            android:name="com.appfunlu.lawofattraction.VisionActivity"
            android:parentActivityName="com.appfunlu.lawofattraction.MainActivity"
            android:label="Vision List">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appfunlu.lawofattraction.MainActivity" />
        </activity>


        <activity
            android:name="com.appfunlu.lawofattraction.PicturesActivity"
            android:parentActivityName="com.appfunlu.lawofattraction.MainActivity"
            android:label="Vision Pictures">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appfunlu.lawofattraction.MainActivity" />
        </activity>

        <activity
            android:name="com.appfunlu.lawofattraction.QuotesActivity"
            android:parentActivityName="com.appfunlu.lawofattraction.MainActivity"
            android:label="Quotes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appfunlu.lawofattraction.MainActivity" />
        </activity>

    </application>

</manifest>